.dashboard {
  display: flex;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #003366; 
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.sidebar button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #003366; 
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar button:hover {
  background-color: #003366; 
}

.dashboard-content {
  flex-grow: 1;
  padding: 20px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.logout-btn {
  background-color: #e74c3c; 
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.logout-btn:hover {
  background-color: #c0392b; 
}

.profile-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.profile-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.profile-table tr:nth-child(even) {
  background-color: #f2f2f2; 
}

.edit-field {
  display: flex;
  align-items: center;
}

.input-field {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 60%; 
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #003366; 
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #003366; 
}

.view-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view-field span {
  flex-grow: 1;
}
